// .footer {
//   display: 'flex';
//   justify-content: 'column';
//   text-align: center;
// //   '& > *': {
// //     m: 1,
// //   }
// //   &: {
// //     m: 1,
// //   }
// }

.wrapper {
    display: 'flex';
    justify-content: 'column';
    text-align: center;
}
